<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.TableSplitParamsDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.TableSplitParams">
		<result column="id" property="id" />
		<result column="splitNum" property="splitNum" />
		<result column="timeSplitWay" property="timeSplitWay" />
		<result column="createTime" property="createTime" />
		<result column="groupID" property="groupID" />
		<result column="tableName" property="tableName" />
	</resultMap>

	<parameterMap id="TableSplitParams" type="org.spring.springboot.domain.TableSplitParams"/>

	<sql id="Base_Column_List">
		id, splitNum, timeSplitWay, createTime,groupID,tableName
	</sql>

	<select id="findSplitWay" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from tbl_chain_tablesplit_params
		where groupID = #{groupID} and tableName = #{tableName}
	</select>

</mapper>
